.u-section-1 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-1 .u-text-1 {
  font-family: "Alfa Slab One";
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 570px;
  margin: 20px auto 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1059px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 72px;
  margin: 29px auto 0 210px;
}

.u-section-1 .u-form-1 {
  height: 861px;
  margin: 29px -6px 0 10px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 91px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -56px;
    margin-bottom: -58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 10px;
    margin-left: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}