<a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="150"></a>
<img src="/images/Imagen2.svg" class="u-logo-image u-logo-image-1" data-image-width="59.5">
</a>
<h2 class="u-custom-font u-text u-text-1">TrashRecolector</h2>
<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
  <div class="menu-collapse u-custom-font u-font-raleway" style="font-size: 1rem; letter-spacing: 0px;">
    <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
      href="#">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
      </svg>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
            <rect y="1" width="16" height="2"></rect>
            <rect y="7" width="16" height="2"></rect>
            <rect y="13" width="16" height="2"></rect>
          </symbol>
        </defs>
      </svg>
    </a>
  </div>
  {{#if user}}
   <div class="u-custom-menu u-nav-container">
    <ul class="u-custom-font u-font-raleway u-nav u-spacing-2 u-unstyled u-nav-1">
      <li class="u-nav-item"><a
          class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-black u-text-body-alt-color u-text-hover-black"
          href="/profile" style="padding: 10px 20px;">Perfil</a>
      </li>
      <li class="u-nav-item"><a
          class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-black u-text-body-alt-color u-text-hover-black"
          href="/links" style="padding: 10px 20px;">Registros</a>
      </li>
      
      
      <li class="u-nav-item"><a
          class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-black u-text-body-alt-color u-text-hover-black"
          style="padding: 10px 20px;" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
  <div class="u-custom-menu u-nav-container-collapse">
    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
      <div class="u-sidenav-overflow">
        <div class="u-menu-close"></div>
        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/profile"
              style="padding: 10px 20px;">Perfil</a>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/links"
              style="padding: 10px 20px;">Registros</a>
          </li>
          
          <li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px 20px;" href="/logout">Salir</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
  </div>
 
<a href="/links/add" data-page-id="16672928"
  class="u-active-none u-border-2 u-border-active-palette-4-light-2 u-border-hover-white u-btn u-button-style u-custom-font u-font-oswald u-hover-none u-none u-text-active-white u-text-black u-text-hover-white u-btn-1"><span
    class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 24 24"  style="width: 1em; height: 1em; ">
      <path
        d="m17.5 24c-3.584 0-6.5-2.916-6.5-6.5s2.916-6.5 6.5-6.5 6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5zm0-12c-3.033 0-5.5 2.468-5.5 5.5s2.467 5.5 5.5 5.5 5.5-2.468 5.5-5.5-2.467-5.5-5.5-5.5z">
      </path>
      <path
        d="m16.5 20c-.132 0-.26-.053-.354-.146l-2-2c-.195-.195-.195-.512 0-.707s.512-.195.707 0l1.622 1.622 3.148-3.598c.182-.209.498-.229.706-.047s.229.497.047.705l-3.5 4c-.091.104-.222.166-.36.171-.005 0-.011 0-.016 0z">
      </path>
      <path
        d="m9.5 21h-7c-1.378 0-2.5-1.121-2.5-2.5v-13c0-1.379 1.122-2.5 2.5-2.5h2c.276 0 .5.224.5.5s-.224.5-.5.5h-2c-.827 0-1.5.673-1.5 1.5v13c0 .827.673 1.5 1.5 1.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z">
      </path>
      <path
        d="m16.5 9c-.276 0-.5-.224-.5-.5v-3c0-.827-.673-1.5-1.5-1.5h-2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2c1.378 0 2.5 1.121 2.5 2.5v3c0 .276-.224.5-.5.5z">
      </path>
      <path
        d="m11.5 6h-6c-.827 0-1.5-.673-1.5-1.5v-2c0-.276.224-.5.5-.5h1.55c.233-1.14 1.242-2 2.45-2s2.217.86 2.45 2h1.55c.276 0 .5.224.5.5v2c0 .827-.673 1.5-1.5 1.5zm-6.5-3v1.5c0 .275.224.5.5.5h6c.276 0 .5-.225.5-.5v-1.5h-1.5c-.276 0-.5-.224-.5-.5 0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5c0 .276-.224.5-.5.5z">
      </path>
      <path d="m13.5 9h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z"></path>
      <path d="m10.5 12h-7c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z"></path>
      <path d="m8.5 15h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5s-.224.5-.5.5z"></path>
    </svg><img></span>&nbsp;Registro vehiculo
</a>
  {{/if}}
 
  
</nav>
