<div class ="container p-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Registrar Usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group " style="padding: 15px;">
                            <input type="text" name="nombres" placeholder="nombres" class="form-control">
                        </div>

                        <div class="form-group" style="padding: 15px;">
                            <input type="text" name="apellidos" placeholder="apellidos" class="form-control">
                        </div>
                        
                        <div class="form-group" style="padding: 15px;">
                            <input type="text" name="username" placeholder="username" class="form-control">

                        </div>

                        <div class="form-group" style="padding: 15px;">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>

                        <div class="form-group" style="padding: 15px;">
                            <input type="text" name="correo" placeholder="correo" class="form-control">
                        </div>
                        <div class="form-group" style="padding: 15px;">
                            <button class= "btn btn-success btn-block">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>